.login-page{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.header .header-text{
    font-size: 2.5rem;
    font-weight: 400;
}

.header .subheader-text{
    font-style: italic;
    font-weight: 100;
}



.login-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6ec0f7;
    border: 1px solid black;
    padding: 12px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 12px;
    font-size: 1.25rem;

}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-container input{
    background-color: white ;
    color: black;
    padding: 12px;
    font-size: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
}

.show-password-container{
    font-size: 0.90rem;
}

.show-password-input{
    box-shadow: none;
    background: white;
}

#login-btn{
    border: none;
    border-radius: 16px;
    font-size:1rem;
    background: black;
    color: white;
}

#login-btn:hover{
    border: none;
    scale: 1.05;
    transition: 0.2s;
}

#login-btn:not(:hover){
    border: none;
    transition: 0.2s;
}

#navigate-signup-btn{
    border: none;
    border-radius: 16px;
    font-size: 1rem;
    background: black;
    color: white;
}

#navigate-signup-btn:hover{
    border: none;
    scale: 1.05;
    transition: 0.2s;
}

#navigate-signup-btn:not(:hover){
    border: none;
    transition: 0.2s;
}



.signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-msg{
    color:#FF3F3F;
    font-weight: 150;
    font-style: italic;
}
