.active-note-header{
    font-size: 2rem;
}

.active-note-subheader{
    font-weight: lighter;
    font-style: italic;
}

/* Quill Text editor styling */
.quill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.ql-editor {
    border: none !important; /* Ensure no border is applied */
    outline: none; /* Removes any focus outline */
}
#editor{
    height: fit-content;
}
