.test{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: left;
    justify-content: center;
}
.active-note-header{
    font-size: 2rem;
}

.active-note-heading{
    display: flex;
    flex-direction: column;
    margin-top:0.75rem;
}

.active-note-subheader{
    font-weight: lighter;
    font-size: 0.75rem;
    font-style: italic;
}

/* Quill Text editor styling */
.quill{
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
    word-wrap: break-word; /* ideally this wraps a long word to the next line instead of expanding the width. Doesn't work right now though.*/
}

#note-title-input{
    font-size:2rem;
    background: none;
    color: black;
    border: none;
}

#note-title-input:focus{
    outline: none; /* Remove default styling */
    border-bottom: 1px solid #007BFF;
}
