footer{
    background-color: #6ec0f7;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    display: flex;

    align-items: center;
    justify-content: space-around;
    border-top: 2px solid black;
    height: 1rem;

    /* Ensures content takes up space between header and footer
    - Do NOT add a position property.
    - Do NOT add a bottom: 0 property.
    */
    flex: none;

}

.footer-link{
    text-decoration: none;
    color: black;
}
