footer{
    background-color: #6ec0f7;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
}

.footer-link{
    text-decoration: none;
    color: black;
}
