.note-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;

  align-items: center;
  background: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  width: 170px;
  overflow: hidden; /* hide overflowing text */
  flex-wrap: nowrap;
  gap: 0.25rem;

  font-size: 0.75rem;
}

.note-item:hover:not(.selected) {
  background: #eee;
  transition: 0.2s;
}

.note-item:not(:hover):not(.selected) {
  background: #ffffff;
  transition: 0.2s;
}

.selected {
  background: #6ec0f7;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.note-img{
  float: left;
  width: auto;
  height: 50px;
  object-fit: cover;
}

.note-text-container{
  display: flex;
  flex-direction: column;
  margin-left: 0.25rem;
  gap: 0.25rem;
}

.note-name {
  overflow-x: hidden;
}

.note-tag{
  border: 1px solid black;
  width: fit-content;
  border-radius: 8px;
  padding: 2px 4px 2px 4px;
  font-size: 0.6rem;
}

.note-name-input {
  overflow-x: hidden; /* hide overflowing text */
  flex-wrap: nowrap;
  width: 90%;
  font-size: 0.75rem;
  color: #000000;
  background: #ffffff;
  cursor: default;
}
