.notebook-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    background: #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 0.5rem;
    width: 100%;
    overflow: hidden; /* hide overflowing text */
    flex-wrap: wrap;

    font-size: 0.75rem;
}

.notebook-item:hover:not(.selected){
    background: #eee;
    transition: 0.2s;
}

.notebook-item:not(:hover):not(.selected){
    transition: 0.2s;
    background: #FFFFFF;
}

.selected{
    background: #6ec0f7;
}

.notebook-img{ /* Container for the sprite */
    display: flex;
    align-items: center;
    justify-content: center;
}

.notebook-img img{
    width: auto;
    height: 25px;
}
