.quicknote-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  padding: 0.5rem; /* padding within the container */
  min-width: 70%;

  color: black;
  background: #84c5f0;
  border: 0.5px solid #000000;
  border-radius: 22px;
  box-shadow: 4px 4px 4px rgba(43, 83, 94, 0.75);
}

.open-quicknote-btn{
  width: 100%;
  background: none;
  color: black;
  font-weight: 600;
  font-size: 1.15rem;
  border: none;
  outline: none;
}

.quicknote-container:hover{
  background: white;
  transition: 0.2s;
}

.quicknote-container:not(:hover){
  transition: 0.2s;
}
