.recent-notes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;

    margin: 0 auto;
    min-height: 80%;
    min-width: 70%;

    border: 0.5px solid #000000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 22px;
    height: fit-content;

    gap: 12px;
}

.recent-notes-title{
    font-size: 1.25rem;
}

.recent-note-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* No need to set padding since the width essentially "includes" it as a %.*/
    border: 1px solid black;
    border-radius: 12px;
    padding: inherit;
}

.note-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.notebook-name, .recent-last-edited{
    font-size: smaller;
}

.details-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.note-name, .details-container{
    padding-left: 12px;
    padding-right: 12px;
}
.note-tag{
    border: 1px solid black;
    width: fit-content;
    border-radius: 8px;
    padding: 2px 4px 2px 4px;
    font-size: 0.6rem;
}
.recent-note-item:hover{
    scale: 1.05;
    transition: 0.2s;
}

.recent-note-item:not(:hover){
    transition: 0.2s;
}

.sprite-img{
    float: left;
    width: auto;
    height: 40px;
    object-fit: cover;
}