.recent-notes-container{

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: 1rem;
    display: flex;
    padding: 0.5rem;

}

.recent-notes-title{
    font-size: 1.25rem;
}

.recent-note-item{
    border: 1px solid#B7B7B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 12px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 150px;
    width: 200px;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
}

.note-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.quicknote-container{
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.notebook-name, .recent-last-edited{
    font-size: smaller;
}

.details-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.note-name, .details-container{
    padding-left: 12px;
    padding-right: 12px;
}
.note-tag{
    border: 1px solid black;
    width: fit-content;
    border-radius: 8px;
    padding: 2px 4px 2px 4px;
    font-size: 0.6rem;
}
.recent-note-item:hover{
    scale: 1.05;
    transition: 0.2s;
}

.recent-note-item:not(:hover){
    transition: 0.2s;
}

.sprite-img{
    float: left;
    width: auto;
    height: 40px;
    object-fit: cover;
}