.toolbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid black;
    max-width: 50px;
    background: #E9ECEF;
    padding: 0.5rem;
    gap: 0.5rem;
}

.toolbar button{
    width: 3rem;
    height: auto;
    background-color: transparent;
    outline: none;
    border-radius: 12px;
    padding: 0.5rem;
}

.toolbar button:hover{
    background-color: #BBE1FA;
    transition: 0.2s;
    border: none;
}

.toolbar button:not(:hover){
    transition: 0.2s;
    background: #E9ECEF;
}

.toolbar button img {
    width: 100%;
    height: 100%;
}
