.burger-container {
    /* Reset Default Styling: */
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Apply Styling: */
    margin-left: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1.7rem;
    height: 1.1rem;
    cursor: pointer;
    box-sizing: border-box;
    transition: transform 0.2s ease;
    transform-origin: center;
}

.burger-container:hover {
    transform: scale(1.1);
}

.burger-container:focus {
    outline: none;
  }

.burger-content {
    height: 0.2rem;
    width: 100%;
    background-color: #242a2f;
    border-radius: 2px;
    transition: all 0.3s ease;
}
